/* Glowing effect for the landing cells */
.cell.highlight {
    animation: glowing 1.5s infinite alternate;
    border: 2px solid gold;  /* Add gold border for more visibility */
  }
  
  /* Animation for the glowing effect */
  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold, 0 0 20px gold;
    }
    50% {
      box-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold;
    }
    100% {
      box-shadow: 0 0 15px gold, 0 0 25px gold, 0 0 35px gold, 0 0 50px gold;
    }
  }
  

.app {
    display: grid;
    grid-template-areas:
      ". title ."
      ". game controls";
    grid-template-columns: repeat(3, 1fr);
  }

  body {
    background-color: #edfbba;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    text-align: center;
    grid-area: title;
  }
  
  button {
    padding: 4px;
    font-size: 1.4rem;
  }
  
  .board {
    border: 2px solid black;
    user-select: none;
    margin: auto;
    grid-area: game;
  }
  
  .controls {
    display: grid;
    grid-template-rows: auto auto auto; /* Auto size rows based on content */
    grid-area: controls;
    margin-left: 30px;
  }
  
  .controls-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin-left: 20px;
    grid-row: 1;
  }
  
  .controls-container2 {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    margin-left: 20px;
    margin-top: 30px;
    grid-row: 2;
  }
  
  .row {
    display: flex;
  }
  
  .upcoming {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
  }
  
  .cell {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid black;
  }
  
  .cell.hidden {
    visibility: hidden;
  }
  
  .cell.Empty {
    background-color: rgb(200, 200, 200);
  }
  
  .cell.I {
    background-color: #f0c808;
  }
  
  .cell.J {
    background-color: #5d4b20;
  }
  
  .cell.L {
    background-color: #469374;
  }
  
  .cell.O {
    background-color: #9341b3;
  }
  
  .cell.S {
    background-color: #e3427d;
  }
  
  .cell.T {
    background-color: #e68653;
  }
  
  .cell.Z {
    background-color: #fbbcee;
  }